<div class="my-5 px-4">
        <h2 class="fw-bold h-font text-center">Contáctanos</h2>
        <div class="h-line bg-dark"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-5 px-4">
            <div class="bg-white rounded shadow p-4">
                <iframe class="w-100 rounded mb-4" height="320px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.2687450435105!2d-87.23923378906365!3d14.061301386306733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6f97e03b9d6069%3A0x11d5cc5575958857!2sC.%20de%20Los%20Alcaldes%2C%20Tegucigalpa%2C%20Francisco%20Moraz%C3%A1n!5e0!3m2!1ses!2shn!4v1761876649826!5m2!1ses!2shn" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5>Dirección</h5>
                    <a href="https://maps.app.goo.gl/iyNSe7dE7R5DmbQd6" target="_blank" class="d-inline-block text-decoration-none text-dark mb-2">
                        <i class="bi bi-geo-alt-fill"></i> Calle, de Los Alcaldes, F.M.
                    </a>
                <h5 class="mt-4">Llámanos</h5>
                    <a class="d-inline-block mb-2 text-decoration-none text-dark"> 
                        <i class="bi bi-telephone-fill"></i> 2255 7488
                    </a>
                    <br>
                    <a class="d-inline-block text-decoration-none text-dark"> 
                        <i class="bi bi-telephone-fill"></i> 9841 6500
                    </a>
                <h5 class="mt-4">Email</h5>
                    <a href="mailto: ask.encantodelcaribe@gmail.com" class="d-inline-block text-decoration-none text-dark mb-2">
                        <i class="bi bi-envelope-fill"></i> ask.encantodelcaribe@gmail.com
                    </a>
                <h5 class="mt-4">Nuestras Redes Sociales</h5>
                    <a href="https://www.facebook.com/?locale=es_LA" 
                        class="d-inline-block text-dark fs-5 me-2" target="_blank"> 
                        <i class="bi bi-facebook me-1"></i>
                    </a>
                    <a href="https://www.instagram.com/?flo=true" 
                        class="d-inline-block text-dark fs-5 me-2" target="_blank"> 
                        <i class="bi bi-instagram me-1"></i>
                    </a>
                    <a href="https://www.tiktok.com/foryou?lang=es" 
                        class="d-inline-block text-dark fs-5" target="_blank"> 
                        <i class="bi bi-tiktok me-1"></i>
                    </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 px-4">
            <div class="bg-white rounded shadow p-4">
                <form id="form" class="form" action="">
                    <h5>Envíanos un Mensaje</h5>
                        <div class="mt-3">
                            <label class="form-label" style="font-weight: 500;">Nombre:</label>
                            <input type="text" class="form-control shadow-none" >
                        </div>
                        <div class="mt-3">
                            <label class="form-label" style="font-weight: 500;">Apellido:</label>
                            <input type="text" class="form-control shadow-none" >
                        </div>
                        <div class="mt-3">
                            <label class="form-label" style="font-weight: 500;">Correo Electrónico:</label>
                            <input type="email" class="form-control shadow-none" >
                        </div>
                        <div class="mt-3">
                            <label class="form-label" style="font-weight: 500;">Teléfono:</label>
                            <input type="text" class="form-control shadow-none" >
                        </div>
                        <div class="mt-3">
                            <label class="form-label" style="font-weight: 500;">Mensaje:</label>
                            <input type="text" class="form-control shadow-none" >
                        </div>
                        <div class="mt-3">
                            <button class="rounded shadow">Enviar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
