<?php require('inc/header.php'); ?>

<div class="container-fluid" id="main-content">
    <div class="row">
        <div class="col-lg-10 ms-auto p-4 overflow-hidden">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, totam expedita vero pariatur quia molestiae, quos inventore perferendis cumque illo, dicta sapiente impedit. Dolores modi maxime repellat placeat assumenda exercitationem quasi debitis culpa quam illum quibusdam ab quos eum, doloremque vero quae impedit. Fugiat explicabo mollitia dicta similique qui vitae eveniet blanditiis, deserunt nesciunt? Similique earum dolores ducimus consequuntur veritatis aut optio quod atque ratione ipsa beatae labore animi iusto, odio debitis quas porro veniam dolorum! Iste cum deserunt similique, omnis molestias laborum quod nesciunt necessitatibus cumque sequi quia dolore at explicabo. Laudantium ipsa placeat harum delectus corrupti omnis tempore architecto dolor, doloremque, animi saepe distinctio voluptate voluptatem minima sit dicta impedit velit? Laboriosam, illo. Quo assumenda beatae voluptates, porro accusamus dolorem dolor labore natus, numquam nulla nam inventore facere veritatis adipisci vero a voluptate corporis eveniet ex, dolores officiis. Libero est nemo veniam modi magni ut unde molestias dolorum debitis eos. Non doloremque architecto culpa, quae voluptates, dignissimos dolores pariatur ad officiis praesentium animi a delectus obcaecati, eligendi mollitia molestiae. Repudiandae magni porro deleniti rerum animi. Consectetur nesciunt, sed possimus similique eum dolor natus ipsam labore voluptates unde at nisi voluptatibus ratione quis accusantium quos molestiae aspernatur officia. Adipisci!
        </div>
    </div>
</div>

    