<style>
    div.login-form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }
</style>
<div class="login-form text-center rounded shadow bg-white overflow-hidden">
    <form method="POST">
        <h4 class="bg-dark text-white py-3">Panel Admin Login</h4>
        <div class="p-4"> 
            <div class="mb-3">
                <input name="admin_nom" required type="text" class="form-control shadow-none text-center" placeholder="Nombre Admin">
            </div>
            <div class="mb-4">
                <input name="admin_pass" required type="password" class="form-control shadow-none text-center" placeholder="Contraseña">
            </div>
            <button name="login" type="submit" class="btn text-white custom-bg shadow-none">LOGIN</button>
        </div>
    </form>
</div>

